#wrapper {
   padding: 0;
   border: 2px solid black;
   width: 700px;
   height: 800px;
   background-image: url('img/Shelves.png');
   background-repeat:no-repeat;
   background-position: bottom;
   float: left;
}

#filters {
   font:62.5% Verdana,Arial,sans-serif;
   margin-left: 750px;
   margin-right: 50px;
}

.a .ui-slider {
    border-radius: 0;
}
.a .ui-slider-handle {
    border-radius: 0;
}
.b .ui-slider {
    border-radius: 0;
    height: 1.1em;
}
.b .ui-slider-handle {
    border-radius: 0;
    top: .1em;
    height: 0.75em;
}
.c .ui-slider {
    border-radius: 2px;
}
.c .ui-slider-handle {
    border-radius: 4px;
    width: 0.4em;
    margin-left: -0.2em;
}
.d .ui-slider {
    height: 0.3em;
    border-radius: 10px;
}
.d .ui-slider-handle {
    height: 1em;
    top: -0.45em;
    border-radius: 0.5em;
    width: 1em;
    margin-left: -0.5em;
}
.e .ui-slider {
    border-radius: 2px;
    height: 0.3em;
}
.e .ui-slider-handle {
    height: 1.4em;
    top: -0.55em;
    border-radius: 0 0 16px 16px;
    width: 0.7em;
    margin-left: -0.35em;
}
