#wrapper {
   padding: 0;
   border: 2px solid black;
   width: 700px;
   height: 800px;
   background-image: url('img/Shelves.png');
   background-repeat:no-repeat;
   background-position: bottom;
   float: right;
}

#pcoords {
    float: left;
}
/* parallel coords */
svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ccc;
  stroke-opacity: .4;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
  stroke-opacity: .7;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line, .axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
}
